.container {
    overflow-x:scroll;
    height:95vh;
    max-width:95vw !important;
}

.columns {
    margin:0 !important;
    /* margin-bottom:0 !important; */
}

.column-day {
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height:100px;
    min-width:33.3%;
}

.column-order:not(:first-child) {
    border-left: 0.5px solid black;
}

.column-order {
    border-bottom: 0.5px solid black;
    padding:2px !important;
}

td, th {
    padding:1px 5px !important;
    text-align:center !important;
}

.order {
    border: 1px solid black;
    background-color: transparent;
    cursor:pointer;
    overflow-y:hidden;
    transition: height, 0.5s;
}

.order:hover {
    /* height:80px; */
}

.head {
    /* text-align:center; */
    display:flex;
    justify-content:space-between;
    padding:0 10px;
    background-color:cornflowerblue;
    color:white;
    font-weight:bold;
}

.order-add {
    cursor:pointer;
    justify-content:center;
}

.input {
    margin-bottom:3px;
}

.is-size-7 {
    font-size:0.7rem !important;
}

.week {
    margin-bottom:10px !important;
}

.order-row {
    background-color:white;
    cursor:grab;
    /* cursor:-moz-grab; */
    transition: all ease-in 1s;
}

.order-row:active {
    cursor:grabbing;
}

.dragged {
    border: 1px blue solid;
    background: rgba(0,0,255,0.2);
}
